.jumbotron {
  background-color: rgb(255, 92, 92);
}
.btn {
  background-color: black;
  color: white;
  width: 100%;
}
footer {
  background-color: rgb(49, 49, 49);
  color: white;
  margin-top: 15px;
  padding: 20px 5px;
}
a {
  color: white;
}
