$red: #c91e1e;
@mixin padding($top-bottom, $right-left) {
  padding-top: $top-bottom;
  padding-bottom: $top-bottom;
  padding-left: $right-left;
  padding-right: $right-left;
}
.jumbotron {
  background-color: $red;
}
.btn {
  background-color: black;
  color: white;
  width: 100%;
}
footer {
  background-color: rgb(49, 49, 49);
  color: white;
  margin-top: 15px;
  @include padding(20px, 5px);
}
a {
  color: white;
}
