.jumbotron {
  background-color: #e83737;
}
.btn {
  background-color: black;
  color: white;
  width: 100%;
}
footer {
  background-color: #313131;
  color: white;
  margin-top: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
a {
  color: white;
}
